header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

body {
  /* background-color: #17a2b8; */
  background-color: #84afdc;
  font-size: 1rem;
  width: 100%;
}
.m-heading {
  font-family: "Roboto Slab", serif;
}
.container {
  /* background-color: white; */
  background-color: bisque;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 100%;
}
.portfolio-link {
  font-size: 1.5rem;
  margin-left: 25px;
  margin-top: 15px;
}

.contact-link {
  font-size: 1.2rem;
  font-weight: bold;
}

#about-image {
  max-width: 300px;
}
.nav-style {
  background-color: #84afdc;
}
.navbar-light .nav-item:active .nav-link {
  color: blue;
}

.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
  /* color: rgb(255, 0, 179); */
  color: bisque;
}
.blue-color {
  color: #3791f1;
}
.text-custom {
  color: bisque;
  font-size: 3rem;
  margin-left: 25px;
  margin-top: 15px;
}
.text-custom:hover {
  color: rgb(221, 124, 59);
}
.contact-link {
  font-size: 1.2rem;
  font-weight: bold;
}
a.contact-link:hover {
  color: rgb(221, 124, 59);
  text-decoration: none;
}
.bottom-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #17a2b8;
}
a.bottom-link:hover {
  color: rgb(221, 124, 59);
  text-decoration: none;
}
.card {
  border-bottom: 8px solid #3791f1;
}
.media_link {
  padding: 0.5rem;
  max-width: 12rem;
  margin-left: 0.5rem;
  border: 2px solid #f5ba09;
  border-radius: 0.5rem;
  color: #3791f1;
  /* font-size: 16px; */
}
.media_link:hover {
  color: rgb(221, 124, 59);
  text-decoration: none;
}

.form-group {
  width: 70%;
}

.make-border {
  border: 1px solid black;
}
.iframe {
  height: 750px;
  width: 50%;
  border: none;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}
.resume {
  text-align: center;
}
